body,
a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
nav, ul{
  list-style: none;
}
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
